---
const bottomLinks = [
  {
    header: 'Mis redes sociales',
    links: [
      {
        name: 'Github',
        href: 'https://github.com/luisadriannu',
        isExternal: true,
      },
      {
        name: 'Twitter',
        href: 'https://twitter.com/LuisAdrianNuez',
        isExternal: true,
      },
      {
        name: 'Instagram',
        href: 'https://www.instagram.com/luizackjs/',
        isExternal: true,
      },
      {
        name: 'Facebook',
        href: 'https://www.facebook.com/luisadrian.nunezjara',
        isExternal: true,
      },
    ],
  },
];
---

<footer
  class="mt-16 bg-primary-500/10 py-16 dark:bg-primary-400/10 lg:mt-20 lg:py-20"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col justify-between gap-8 sm:gap-16 lg:flex-row">
      <div class="flex max-w-sm flex-col items-start gap-6 sm:gap-8">
        <div class="flex flex-row items-center justify-center gap-1.5">
          <div>
            <img class="h-8 w-8" src="/assets/logo.png" alt="Logo" />
          </div>
          <div>
            <h3 class="text-2xl"><b>Luizack</b></h3>
          </div>
        </div>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70">
          "No existen verdades absolutas.. Solo diferentes maneras de realizar las cosas."
        </p>
        <p class="text-sm text-primary-950/70 dark:text-primary-200/70">
          © 2023 Design by @Luizack
        </p>
      </div>
    </div>
  </div>
</footer>
