---
import ContentAbout from '../about/ContentAbout.astro';
---

<section id="sobre-mi" class="py-8 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-8 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Sobre mí</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          Tengo 23 años de edad, desde 2020 me he adentrado en el maravilloso mundo de la
          programación desarrollando sitios tanto personales como académicos. Disfruto llevar a cabo
          la maquetación e interactividad de interfaces web. Me gusta mucho trabajar en equipo
          colaborando en proyectos. Tengo buen ojo para los pequeños detalles que marcan la
          diferencia, y siempre pongo lo mejor de mi en mis trabajos. Siempre estoy feliz de
          aprender algo nuevo cada dia para seguir en constante mejora.
        </p>
      </div>
    </div>
    <ContentAbout />
  </div>
</section>
