---
const bottomLinks = [
  {
    header: 'Mis redes sociales:',
    links: [
      {
        name: 'Github',
        href: 'https://github.com/luisadriannu',
        isExternal: true,
      },
      {
        name: 'Instagram',
        href: 'https://www.instagram.com/luizackjs/',
        isExternal: true,
      },
      {
        name: 'Facebook',
        href: 'https://www.facebook.com/luisadrian.nunezjara',
        isExternal: true,
      },
    ],
  },
];
---

<section id="contacto" class="py-8 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="flex flex-col items-center gap-4 rounded-3xl bg-primary-500/10 px-5 py-16 dark:bg-primary-400/10 sm:gap-10"
    >
      <div class="flex w-4/5 flex-col gap-4 sm:gap-6 lg:w-1/4">
        <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">Contacto</h2>

        <p class="text-base font-bold">Mis redes sociales:</p>
        <div class="flex items-center justify-center gap-4 pt-2 text-white md:flex-row">
          <a
            class="bg-colorLinkedin blue relative flex h-24 w-full flex-col items-center justify-center rounded-xl"
            href="https://www.linkedin.com/in/luis-adrian-nu%C3%B1ez-jaramillo-b31a0a1a5"
            target="_blank"
            rel="noopener"
          >
            <div class="absolute right-2 top-2">
              <svg
                class="h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"
                ></path>
              </svg>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-linkedin"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                ></path>
                <path d="M8 11l0 5"></path>
                <path d="M8 8l0 .01"></path>
                <path d="M12 16l0 -5"></path>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
              </svg>
            </div>
          </a>
          <a
            class="bg-black relative flex h-24 w-full flex-col items-center justify-center rounded-xl"
            href="https://twitter.com/LuisAdrianNuez"
            target="_blank"
            rel="noopener"
          >
            <div class="absolute right-2 top-2">
              <svg
                class="h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"
                ></path>
              </svg>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
                <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="flex items-center justify-center gap-4 text-white md:flex-row">
          <a
            class="bg-colorMail relative flex h-24 w-full flex-col items-center justify-center rounded-xl"
            href="mailto:luisadriannu13@gmail.com"
            target="_blank"
            rel="noopener"
          >
            <div class="absolute right-2 top-2">
              <svg
                class="h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"
                ></path>
              </svg>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                ></path>
                <path d="M3 7l9 6l9 -6"></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
