<section class="pb-16 pt-32 sm:py-32">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Bienvenidos a mi sitio
          </h1>
          <h2 class="text-2xl lg:text-4xl">
            Yo soy <b class="text-yellow">Luis Adrian</b>
          </h2>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            Un joven apasionado por crear aplicaciones web brindando la mejor experiencia de
            usuario.
          </p>
        </div>
        <a
          href="/cv-luisadrian.pdf"
          class="bg-yellow inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition"
          target="_blank"
        >
          Descargar CV
        </a>
      </div>
      <img
        class="h-auto w-full rounded-3xl"
        width="1280"
        height="640"
        src="/assets/hero-image-home.jpg"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
