---

---

<div class="noise"></div>

<style>
  .noise {
    background-image: url('/assets/noise.gif');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    content: '';
    opacity: 0.035;
    z-index: 999;
    pointer-events: none;
  }
</style>
