---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import Noise from '../components/Noise.astro';

const { title } = Astro.props;
---

<!doctype html>
<html id="html" lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="twitter:title" content="Luizack | Frontend Developer" />
    <meta name="theme-color" content="#e1a028" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:type" content="website" />
    <meta
      name="description"
      content="Descubre mi experiencia en la creación de páginas web utilizando tecnologías como React, JavaScript, Astro, HTML & CSS. Visita cada uno de mis proyectos que reflejan mi dedicación y creatividad."
    />
    <meta name="apple-mobile-web-app-status-bar" content="#e1a028" />
    <meta name="author" content="Luis Adrian" />
    <link rel="author" href="https://luizack.site" />
    <link rel="canonical" href="https://luizack.site" />
    <meta
      property="og:image"
      name="twitter:image"
      content="https://luizack.site/android-chrome-512x512.png"
    />
    <meta property="og:url" name="twitter:url" content="https://luizack.site" />
    <meta
      name="keywords"
      content="React,JavaScript,Luis,Adrian,Nuñez,Jaramillo,CSS,HTML,Frontend,Developer,Web,luizackjs,luizack.site,luisadriannu,Luis Adrian,Luis Adrian Nuñez Jaramillo,luis,adrian,nuñez,luis adrian,portfolio,portafolio,projects,proyectos,skills,habilidades,about,sobre,contact,contacto,contactame,contactame,contact me"
    />
    <meta
      property="og:description"
      name="twitter:description"
      content="Descubre mi experiencia en la creación de páginas web utilizando tecnologías como React, JavaScript, Astro, HTML & CSS. Visita cada uno de mis proyectos que reflejan mi dedicación y creatividad."
    />
    <meta name="creator" content="Luis Adrian" />
    <meta property="og:title" content="Luizack | Frontend Developer" />
    <meta property="og:site_name" content="Luizack, Frontend Developer" />
    <meta property="og:locale" content="es" />
    <meta name="twitter:site" content="@LuisAdrianNuez" />
    <meta name="twitter:creator" content="@LuisAdrianNuez" />

    <ViewTransitions />
  </head>
  <body
    class="bg-primary-50 text-primary-950 antialiased transition dark:bg-primary-950 dark:text-primary-200"
  >
    <Header />
    <Noise />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      [x-cloak] {
        display: none !important;
      }
    </style>
    <script>
      import Alpine from 'alpinejs';
      import collapse from '@alpinejs/collapse';

      Alpine.plugin(collapse);

      Alpine.store('theme', {
        init() {
          this.isDark = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
              return localStorage.getItem('theme') === 'dark';
            }
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
              return true;
            }
            return false;
          })();
        },

        isDark: false,

        toggle() {
          this.isDark = !this.isDark;
          localStorage.setItem('theme', this.isDark ? 'dark' : 'light');
        },
      });

      window.Alpine = Alpine;
      Alpine.start();
    </script>
  </body>
</html>
